/*
Title: Styles for the website of Ankit Keshari
URI: http://ankitkeshari719.github.io
Author: Ankit Keshari
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	text-decoration: none;
}

/* ---------------------------------------------------------------------------------------
   Styling
   --------------------------------------------------------------------------------------- */
body {
	padding-top: 95px;
	background: #121212 url('../images/bg.png');
}

a, a:visited {
	color: #445878;
	text-decoration: none;
}

#boxcontainer {
	margin: auto;
	max-width: 612px;
	background: #f8f8f8;
/*	background: rgba(255,255,255,0.97);		*/
	border-radius: 55px;
	box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.95);
}

.hello {
	min-height: 55px;
	background: #e12f27;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	color: #fff9f9;
	font: normal 50px Arial;
}

.introduction {
	padding-left: 15px;
	padding-right: 20px;
	margin-top: 10px;
}

.introduction img {
	max-width: 15%;
	max-height: 15%;
	float: right;
	border-radius: 100px;
}

.introduction h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 44px;
}

.introduction h2 {
	margin-left: 25px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
}

.small_im {
	font-family: Georgia, serif;
	font-size: 11px;
	margin-right: 5px;
}

.content {
	padding: 15px 20px 20px 20px;
	line-height: 20px;
	font-size: 18px;
	line-height: 1.45em;
}

.content a:hover {
	text-decoration: underline;
}

.links {
	min-height: 55px;
	background: #e12f27;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.links p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff9f9;
}

.links p a {
	display: inline-block;
	font-size: 17px;
	color: #fff9f9;
	border-radius: 5px;
	padding: 6px;
	margin-top: 12px;
}

.links p a:hover {
/*	background: rgba(255, 255, 255, .9);	*/
	background: #fcebea;
	color: #555;
}

#moreinfo {
	margin: 65px auto;
	max-width: 612px;
	text-align: center;
	color: #dadada;
}

#moreinfo a {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	color: #aaa;
	font-size: 17px;
}

#moreinfo a:hover {
	color: #dadada;
	background: rgba(88, 91, 93, 0.4);
}

.clearfix:after {
   content: " ";	
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#projects {
	padding: 75px 75px 25px 75px;
	background: #313131 url('../images/bg1.png');
	color: #eee;
}

#contributions {
	padding: 25px 75px 75px 75px;
	background: #313131 url('../images/bg1.png');
	color: #eee;
}

#projects h1, #contributions h1 {
	margin: 20px 0 60px 0;
	padding-bottom: 10px;
	font-size: 85px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	border-bottom: 1px solid #eee;
}

.coffeeicon, .codeicon {
	float: right;
}

.projectbox {
	position: relative;
	min-height: 465px;
	width: 25%;
	margin: 20px;
	padding: 20px;
	float: left;
	font-family: Georgia, serif;
	color: #ccc;
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(80, 80, 80, 0.5);
	border-radius: 7px;
	transition: 0.5s;
}

.projectbox:hover {
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 7px 6px rgba(35, 35, 35, 0.95);
	border-color: transparent;
	transition: 0.5s;
}

.projectimage {
	display: block;
	margin: auto;
	max-height: 215px;
	max-width: 100%;
	border-radius: 5px;
	margin-bottom: 25px;
}

.projectname {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 15px;
}

.projectlinks {
	margin-top: 30px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.projectlinks a {
	color: #eee;
	text-decoration: underline;
	margin: 0 15px 0 10px;
}

.projectlinks a:hover {
	color: #e12f27;
	text-decoration: underline;
}

footer {
	text-align: center;
	padding: 10px 0 20px 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #aaa;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

/* ---------------------------------------------------------------------------------------
   Responsive styling
   --------------------------------------------------------------------------------------- */
@media (max-width: 1260px) {
	.projectbox {
		min-height: 480px;
	}	
}

@media (max-width: 1150px) {
	.projectbox {
		width: 40%;
		min-height: 475px;
	}
}

@media (max-width: 1000px) {
	.projectbox {
		width: 35%;
	}
}

@media (max-width: 890px) {
	#projects h1, #contributions h1 {
		font-size: 50px;
	}

	.projectbox {
		width: 80%;
	}
}

@media (max-width: 630px) {
	body {
		padding-top: 0px;
	}

	#boxcontainer {
		min-width: 100%;
		border-radius: 0px;
	}

	.hello {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.links {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.introduction img {
		max-width: 70px;
		max-height: 70px;
		float: none;
		display: block;
		margin: 10px auto;
		border-radius: 10px;
	}

	.introduction h1 {
		text-align: center;
	}

	.introduction h2 {
		text-align: center;
		margin-left: 0px;
	}

	.content {
		text-align: center;
		font-size: 20px;
	}

	#moreinfo a {
		margin: 0px;
	}
}

@media (max-width: 580px) {
	#projects, #contributions {
		padding: 30px 10px;
	}

	#projects h1, #contributions h1 {
		text-align: center;
	}

	.coffeeicon, .codeicon {
		float: none;
		margin: auto;
		padding-top: 10px;
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	#moreinfo a {
		margin: 0px;
		display: block;
		font-size: 20px;
	}

	.pipeline {
		display: none;
	}
}

@media (max-width: 340px) {
	.links {
		padding-bottom: 5px;
	}

	#projects, #contributions {
		padding: 30px 0px;
	}

	.projectbox {
		margin: 5px;
	}
}
